<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../src/css/styles.css">
    <title>Castle Black</title>
</head>
<body>
    <header>
        <div class="btn_container">
            <button class="backBtn">
                <a href="/"> Go back </a>
            </button>
        </div>
        <h2>Choose your character!</h2>
    </header>
    <div class="char_cards_container">
        <%- include("playerCard") %>
    </div>
    <div class="btn_container">
        <button class="createBtn">
            <a href="/create-player"> Add Player </a>
        </button>
    </div>
    <%- include("footer") %>