<% for(var i=0; i < players.length; i++){%>
        <div class="char_card">
            <div class="title">
                <p class="char_name"><%= players[i].name%></p>
            </div>
            <div class="char_img">
                <div class="img_container">
                </div>
            <div class="char_description"><%= players[i].age%></div>
            <div class="char_objects"><%= players[i].bag%></div>
            </div>
        </div>
<%}%>